+b.block-5#block-5
  +e.img-bg
  .l-wrapper
    +e.content
      +e.H2.title Was den Händler erhält?
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Elektronischen Produktkatalog mit Preisen und Rabatten
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text On-line CRM
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Automatische Erstellung von kommerziellen Angebote, Aufträge, Rechnungen
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Wissensdatenbank des Herstellers
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mobile Anwendungen
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Online-Shop
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Hersteller Lager
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Service
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Speichern von Dateien in der Cloud
