+b.block-5#block-5
  +e.img-bg
  .l-wrapper
    +e.content
      +e.H2.title Co otrzymuje diler?
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Elektroniczny katalog produktów z cenami i rabatami
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text On-line CRM
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Automatyczne tworzenie ofert handlowych, zamówień, faktur
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Bazę wiedzy producenta
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Aplikacje mobilną
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Sklep internetowy
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Magazyn producenta
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Serwis
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Przechowywanie plików w chmurze
