+b.block-5#block-5
  +e.img-bg
  .l-wrapper
    +e.content
      +e.H2.title Что получит дилер?
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Электронный каталог с ценами и скидками
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text On-line CRM
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Автоматическое создание коммерческих предложений, договоров, счетов
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text База знаний производителя
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Мобильное приложение
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Интернет-магазин
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Склад производителя
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Сервис
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Облачное файловое хранилище
