+b.block-5#block-5
  +e.img-bg
  .l-wrapper
    +e.content
      +e.H2.title What does dealer get?
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text E-catalog with prices and discounts
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text On-line CRM
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Automatic creation of offers, contracts, invoices
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Manufacturer’s knowledge database
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mobile application
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Online shop
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Actual stock situation
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Service
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Cloud file storage
