+b.header.z-depth-1: .l-wrapper
  +e(href='#' data-activates='slide-out').menu-link.button-collapse
    +e.SVG.menu
      use(xlink:href='#svg-menu')
  +e(href='#').logo-link
    +e.SVG.logo
      use(xlink:href='#svg-logo-h')
