+b.block-1-1#block-1-1: .l-wrapper
  +e.H2.title Dla kogo przeznaczone są nasze usługi?
  +e.wrapper
    +e.small
      +e.H3.text Przedsiębiorstwa przemysłowe
      +e.icon-wrapper
        +e.SVG.icon_small
          use(xlink:href='#svg-industry')
      +e.H4.subtext Tworzenie i rozszerzanie sieci dilerów
    +e.big
      +e.H3.text Przedsiębiorstwa handlowe
      +e.icon-wrapper
        +e.SVG.icon
          use(xlink:href='#svg-banknote')
      +e.H4.subtext Tworzenie i rozszerzanie sieci agentów
