+b.block-1-1#block-1-1: .l-wrapper
  +e.H2.title Для кого наши услуги?
  +e.wrapper
    +e.small
      +e.H3.text Промышленные предприятия
      +e.icon-wrapper
        +e.SVG.icon_small
          use(xlink:href='#svg-industry')
      +e.H4.subtext Создающие и расширяющие сеть дилеров
    +e.big
      +e.H3.text Торговые предприятия
      +e.icon-wrapper
        +e.SVG.icon
          use(xlink:href='#svg-banknote')
      +e.H4.subtext Создающие и расширяющие сеть агентов
