+b.block-1-1#block-1-1: .l-wrapper
  +e.H2.title Für wen sind sie gedacht-unsere Leistungen?
  +e.wrapper
    +e.small
      +e.H3.text Industrieunternehmen
      +e.icon-wrapper
        +e.SVG.icon_small
          use(xlink:href='#svg-industry')
      +e.H4.subtext Schaffung und Ausbau des Netzes von Händlern
    +e.big
      +e.H3.text Handelsunternehmen
      +e.icon-wrapper
        +e.SVG.icon_en
          use(xlink:href='#svg-euro-2')
      +e.H4.subtext Erstellen Sie und erweitern Sie das Netzwerk von Agenten
