+b.block-13_en#block-13: .l-wrapper
  +e.H2.title Confidentiality
  +e.H4.text
    | We respect confidential rights of every company
    | and provide all the required measures to avoid illegal or
    | accidental access
