+b.block-13#block-13: .l-wrapper
  +e.H2.title Конфиденциальность
  +e.H4.text
    | Мы уважаем право каждой компании на конфиденциальность и
    | принимаем все необходимые правовые, организационные и технические меры
    | для защиты персональных данных от неправомерного или случайного доступа к ним,
    | уничтожения, изменения, блокирования, копирования, предоставления, распостранения персональных данных,
    | а так же от иных неправомерных действий в отношении персональной информации.
