+b.block-13_pl#block-13: .l-wrapper
  +e.H2.title Prywatność
  +e.H4.text
    | Szanujemy prawo każdego przedsiębiorstwa do poufności i podejmujemy
    | wszystkie wymagane prawem organizacyjne i techniczne środki ochrony
    | danych osobowych przed nieautoryzowanym dostępem lub: zniszczeniem,
    | modyfikacją, blokowaniem, kopiowaniem, dystrybucją, a także od innych
    | nieuprawnionych działań dotyczących chronionych danych.
