.block-7 {
  @include padding(50px null);
  background-image: url('../img/block-7/bg.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;

  &__title,
  &__text,
  &__aftertext {
    color: white;
  }

  &__text {
    @include font(null null 300);
  }

  &__button {
    @include font($h4-fontsize null normal);
    @include margin(10px null null);
    background-color: $c-theme-2;
    box-shadow: none;
    color: $c-theme-3;

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($c-theme-2, 5%);
      box-shadow: none;
    }
  }
}
