+b.block-7#block-7: .l-wrapper
  +e.H2.title Как изменится работа отдела продаж?
  +e.H4.text
    | Теперь вместо ответов на кучу запросов - сколько это стоит,
    | когда тот или иной товар поступит - Ваши сотрудники займутся
    | реально полезной работой - обучением дилеров, участием в крупных сделках!
  +e.H3.aftertext Система снимет всю рутину!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger Связаться с нами
