+b.block-7#block-7: .l-wrapper
  +e.H2.title Wie wird sich die Arbeit der Verkaufsabteilung ändern?
  +e.H4.text
    | Jetzt anstelle von Antworten auf einige Fragen - wie viel es kostet, Wenn die Lieferung von….. - -Ihre Mitarbeiter werden tatsächlich nützlich im Verkaufsprozess - Schulungen für Händler, Teilnahme an großen Transaktionen!
  +e.H3.aftertext Das System übernimmt alle Verfahren!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger KONTAKTIEREN SIE UNS
