+b.block-7#block-7: .l-wrapper
  +e.H2.title Jak zmieni sie praca działu sprzedaży?
  +e.H4.text
    | Teraz zamiast odpowiedzi na kilka pytań - ile to kosztuje,
    | kiedy dostawa… - Twoi pracownicy będą rzeczywiście przydatni
    | w procesie sprzedaży - szkolenia dilerów, udział w dużych transakcjach!
  +e.H3.aftertext System przejmie wszystkie procedury!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger SKONTAKTUJ SIĘ Z NAMI
