+b.block-7#block-7: .l-wrapper
  +e.H2.title What would change in Sales department?
  +e.H4.text
    | Instead of answering hundreds of questions – what’s the price,
    | when it could be delivered – Your salesmen could make lots of
    | useful things: dealer training, participating in big transactions!
  +e.H3.aftertext System helps to avoid routine!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger CONTACT US
