+b.block-8#block-8
  .l-wrapper: +e.H2.title What does manufacturer/distributor get?
  .l-wrapper
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Multilingual e-catalog
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Multicurrency prices
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text CRM for Sales department
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Knowledge database
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mechanism for getting and negotiating orders from dealers
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Map of dealers
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Reports
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mechanism for creating Dealer’s cabinets
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mechanism for promotions and discounts managing
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Integration with accounting system
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Warehouse module
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text History of orders and messages
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Service
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Company internal portal
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Motivation system
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Position pulpits
