+b.block-8#block-8
  .l-wrapper: +e.H2.title Was ein Hersteller/Vertreiber erhält?
  .l-wrapper
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mehrsprachiges Produkt-Katalog
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Preise in verschiedenen Währungen
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text CRM für den Vertrieb
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Wissensdatenbank
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Der Mechanismus der Annahme und der Vereinbarung Verträge
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Automatische Karte der Händler
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Berichte
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Der Mechanismus für einzelne Profile zu erstellen, Händler
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mechanismus zur Verwaltung von Rabatten und Sonderangeboten
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Integration in das system
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Verfügbarkeit des Herstellers Lager
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Geschichte der Bestellungen und Korrespondenz
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Service
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Unternehmens-Portal
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Bonus-system
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Arbeitsplätze
