+b.block-8#block-8
  .l-wrapper: +e.H2.title Что получит производитель/дистрибьютор?
  .l-wrapper
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Мультиязычный каталог товаров
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Мультивалютные цены
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text CRM отдела продаж
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text База знаний
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Механизм принятия и согласования заказов от дилеров
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Карта дилеров
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Отчёты
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Механизм создания личных кабинетов дилеров
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Механизм управления акциями и скидками
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Интеграция в учётную систему
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Склад производителя
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text История заказов и переписки
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Сервис
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Корпоративный портал
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Мотивация
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Рабочие места
