+b.block-8#block-8
  .l-wrapper: +e.H2.title Co otrzymuje producent/dystrybutor?
  .l-wrapper
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Wielojęzykowy katalog produktów
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Ceny w wielu walutach
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text CRM dla działu sprzedaży
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Bazę wiedzy
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mechanizm przyjmowania i uzgadniania zamówień
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Automatyczną mapę dilerów
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Raporty
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mechanizm tworzenia indywidualnych profili dilerów
    +e.content
      +e.UL.list.browser-default
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Mechanizm zarządzania rabatami i promocjami
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Integracja w systemie
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Dostępność magazynu producenta
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Historia zamówień i korespondencji
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Serwis
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Portal korporacyjny
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text System premiowy
        +e.item
          +e.SVG.item-icon
            use(xlink:href='#svg-check')
          +e.item-text Stanowiska robocze
