+b.block-9#block-9: .l-wrapper
  +e.H2.title Co otrzymuje klient końcowy?
  +e.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Indywidualny profil klienta
    br
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Pomoc techniczną producenta
    br
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Aplikacje mobilną
