+b.block-9#block-9: .l-wrapper
  +e.H2.title What does end user get?
  +e.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Personal cabinet
    br
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Manufacturer's support
    br
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Mobile application
