+b.block-9#block-9: .l-wrapper
  +e.H2.title Что получит конечный потребитель?
  +e.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Личный кабинет
    br
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Поддержка производителя
    br
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-check')
      +e.item-text Мобильное приложение
