+b.block-2#block-2: .l-wrapper
  +e.H2.title Вместе мы сможем:
  +e.UL.list
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-bar')
      +e.item-text Повысить эффективность собственного отдела продаж
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-line')
      +e.item-text Повысить эффективность существующей дилерской сети
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-star')
      +e.item-text Повысить лояльность конечных потребителей
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-rocket')
      +e.item-text Выйти на новые рынки и (или) расширить дилерскую сеть
