+b.block-2#block-2: .l-wrapper
  +e.H2.title Gemeinsam können wir:
  +e.UL.list
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-bar')
      +e.item-text Außendienst-Effizienz zu erhöhen
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-line')
      +e.item-text Verbesserung der Effizienz der das bestehende Händlernetz
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-star')
      +e.item-text Erhöhung der Loyalität Endkunden
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-rocket')
      +e.item-text Eintritt in neue Märkte, erweitern Sie Ihr Vertriebsnetz
