+b.block-2#block-2: .l-wrapper
  +e.H2.title Razem możemy:
  +e.UL.list
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-bar')
      +e.item-text Zwiększyć efektywność działu sprzedaży
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-line')
      +e.item-text Poprawić efektywność istniejącej sieci dilerskiej
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-star')
      +e.item-text Zwiększyć lojalność klientów końcowych
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-rocket')
      +e.item-text Wejść na nowe rynki, rozbudować sieć dilerską
