+b.block-2#block-2: .l-wrapper
  +e.H2.title Together we can:
  +e.UL.list
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-bar')
      +e.item-text Increase efficiency of your Sales department
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-chart-line')
      +e.item-text Increase efficiency of existing dealer’s network
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-star')
      +e.item-text Increase loyalty of end users
    +e.item
      +e.item-icon-wrapper
        +e.SVG.item-icon
          use(xlink:href='#svg-rocket')
      +e.item-text Enter new markets & expand dealer’s network
