+b.footer#contacts
  +e.up: .l-wrapper
    +e.H2.title Kontakty
    +e.contacts
      +e.contact
        +e.H4.contact-title Polska
        +e.name FlyFishSoft Sp. z o.o.
        +e.adress
          | 02-797 Warszawa
          br
          | ul. Klimczaka 5-22
        +e(href='mailto:info.pl@flyfishsoft.com').mail info.pl@flyfishsoft.com
        br
        +e(href='tel:+48506265686').phone +48 (506) 26-56-86
      +e.logo-column
        +e(href='#').logo-link
          +e.SVG.logo
            use(xlink:href='#svg-logo-v')
  +e.bottom Fly Fish Soft &copy; 2017
