+b.block-14#block-14: .l-wrapper
  +e.H2.title Видеопрезентации
  +e.wrapper
    +e.tool
      +e.H3.text Техника
      +e(href='https://www.youtube.com/watch?v=vtWQnffNEyo' target='_blank').icon-wrapper.hoverable
        +e.SVG.icon
          use(xlink:href='#svg-gears')
    +e.gear
      +e.H3.text Запчасти и сервис
      +e(href='https://www.youtube.com/watch?v=69vhcvNgrNc' target='_blank').icon-wrapper.hoverable
        +e.SVG.icon
          use(xlink:href='#svg-tools')
  +e(href='#').button.btn-large.waves-effect.waves-light Скачать презентацию в .pdf
