+b.block-1: .l-wrapper
  +e.H1.title Marketing serwis
  +e.H2.subtitle
    | Unsere Services helfen Ihnen bei der Schaffung und Entwicklung eines Netzes von Händlern!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger KONTAKTIEREN SIE UNS
