+b.block-1: .l-wrapper
  +e.H1.title Marketing serwis
  +e.H2.subtitle
    | Nasze usługi pomagają w tworzeniu i rozwijaniu sieci dilerów!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger SKONTAKTUJ SIĘ Z NAMI
