+b.block-1: .l-wrapper
  +e.H1.title Маркетинг сервис
  +e.H2.subtitle
    | Наши услуги помогут создать и расширить существующую дилерскую сеть!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger Связаться с нами
