+b.block-6#block-6: .l-wrapper
  +e.icon-wrapper
    +e.SVG.icon
      use(xlink:href='#svg-business')
  +e.content
    +e.H2.title Jak zwiększyć wpływ na pracę sieci dilerów?
    +e.UL.list.browser-default
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Wygodne tworzenie ofert
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Baza wiedzy
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Konfigurator cen
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Wsparcie dla klientów końcowych
    +e.H4.aftertext Staniesz się ulubionym dostawcą dilera!
