+b.block-6#block-6: .l-wrapper
  +e.icon-wrapper
    +e.SVG.icon
      use(xlink:href='#svg-business')
  +e.content
    +e.H2.title Wie Sie die Auswirkungen auf die Arbeit des Netzwerks von Händlern zu erhöhen:
    +e.UL.list.browser-default
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Komfortable Erstellung Angebote
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Wissensdatenbank
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Preisrechner
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Support für Endkunden
    +e.H4.aftertext Sie werden als bevorzugte Lieferant des Händlers!
