+b.block-6#block-6: .l-wrapper
  +e.icon-wrapper
    +e.SVG.icon
      use(xlink:href='#svg-business')
  +e.content
    +e.H2.title Increase of efficiency of dealer’s network thanks to:
    +e.UL.list.browser-default
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Convenient and user friendly configurator
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Knowledge database
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Individual price configuration
      +e.item
        +e.SVG.item-icon
          use(xlink:href='#svg-check')
        +e.item-text Support of end users
    +e.H4.aftertext You’ll become the favorite supplier at dealer’s portfolio!
