+b.block-11#block-11: .l-wrapper
  +e.H2.title Zahlungsoptionen
  +e.UL.list
    +e.item.z-depth-1
      +e.first
        +e.H3.name Agent
        +e.cost
          +e.SPAN.cost-num 10-50
          +e.SPAN.cost-unit &nbsp;$/monatlich
        +e.for
          | Der Tarif für Verteiler
          br
          | mit Netz von Agenten
      +e.second
        +e.about Die Abo-Gebühr für jeden Agenten, die im System registriert ist
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Zahl der Arbeitsplätze "Händler" -10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Anzahl der Agenten ist unbegrenzt, nicht weniger als 50
    +e.item.z-depth-1
      +e.first
        +e.H3.name Der Händler
        +e.cost
          +e.SPAN.cost-num 50-200
          +e.SPAN.cost-unit &nbsp;$/monatlich
        +e.for
          | Tarif für Hersteller
      +e.second
        +e.about Die Abo-Gebühr für jeden Händler im System registriert
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Zahl der Arbeitsplätze Hersteller - 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Zahl der Händler – unbegrenzte, nicht weniger als 15
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Zahl der Arbeitsplätze Händler - unbegrenzte
    +e.item.z-depth-1
      +e.first
        +e.H3.name Firma
        +e.cost
          +e.SPAN.cost-num 500-5000
          +e.SPAN.cost-unit &nbsp;$/monatlich
        +e.for
          | Tarif für Unternehmen jeder Art
      +e.second
        +e.about Monatliche Gebühr für die Nutzung des Systems
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Zahl der Arbeitsplätze Hersteller - 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Zahl der Händler – unbegrenzte
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Die Zahl der Arbeitsplätze Händler - unbegrenzte
    +e.item.z-depth-1
      +e.first_de
        +e.H3.name Prozent
        +e.cost
          +e.SPAN.cost-num 1
          +e.SPAN.cost-unit %
        +e.for_de
          | % aus der Summe der Aufträge im System nicht weniger als 1000 $/ monatlich
      +e.second
        +e.about
          | Für jeden Hersteller auf den Abschluss des Vertrages ist individuell definiert werden
    +e.item.z-depth-1
      +e.first_de
        +e.H3.name Kauf des Systems
        +e.cost
          +e.SPAN.cost-num 20000-150000
          +e.SPAN.cost-unit &nbsp;$
        +e.for_de
          | Alle Daten sind geschützt!
      +e.second
        +e.about
          | Die Version der Software "Kaufen", läuft auf Ihrem server. Nachdem Sie alle Daten migrieren, sieht es genau das gleiche
    +e.item.z-depth-1
      +e.first_de
        +e.H3.name Einzelnen
        +e.cost
          +e.SPAN.cost-num -
        +e.for_de
          | Erstellen Sie sich Ihren Tarif!
      +e.second
        +e.about
          | Beschreiben Sie Ihre Erwartungen und wir werden gemeinsam eine Lösung finden
        +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger KONTAKTIEREN SIE UNS

  +e.H5.aftertext Sie können jederzeit das Programm  mit alle Daten beigetragen kaufen, mit kostenlosen Migration der Server hat
