+b.block-11#block-11: .l-wrapper
  +e.H2.title Opcje płatności
  +e.UL.list
    +e.item.z-depth-1
      +e.first
        +e.H3.name Agent
        +e.cost
          +e.SPAN.cost-num 10-50
          +e.SPAN.cost-unit &nbsp;$/mies.
        +e.for
          | Taryfa dla dystrybutorów
          br
          | z siecią agentów
      +e.second
        +e.about Opłata abonamentowa za każdego agenta, który jest zarejestrowany w systemie
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba stanowisk roboczych "handlowiec" – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba agentów – nieograniczona, nie mniej niż 50
    +e.item.z-depth-1
      +e.first
        +e.H3.name Diler
        +e.cost
          +e.SPAN.cost-num 50-200
          +e.SPAN.cost-unit &nbsp;$/mies.
        +e.for
          | Taryfa dla producentów
      +e.second
        +e.about Opłata abonamentowa za każdego dilera, zarejestrowanego w systemie
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba stanowisk roboczych producenta – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba dilerów – nieograniczona, nie mniej niż 15
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba stanowisk roboczych dilera – nieograniczona
    +e.item.z-depth-1
      +e.first
        +e.H3.name Firma
        +e.cost
          +e.SPAN.cost-num 500-5000
          +e.SPAN.cost-unit &nbsp;$/mies.
        +e.for
          | Taryfa dla firm każdego typu
      +e.second
        +e.about Miesięczna opłata za korzystanie z systemu
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba stanowisk roboczych producenta – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba dilerów – nieograniczona
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Liczba stanowisk roboczych dilera – nieograniczona
    +e.item.z-depth-1
      +e.first
        +e.H3.name Procent
        +e.cost
          +e.SPAN.cost-num 1
          +e.SPAN.cost-unit %
        +e.for
          | % od sumy zamówień w systemie, nie mniej niż 1000 $/mies.
      +e.second
        +e.about
          | Jest definiowane indywidualnie u każdego producenta przy zawarciu umowy
    +e.item.z-depth-1
      +e.first
        +e.H3.name Kupno systemu
        +e.cost
          +e.SPAN.cost-num 20000-150000
          +e.SPAN.cost-unit &nbsp;$
        +e.for
          | Wszystkie dane są chronione!
      +e.second
        +e.about
          | Wersja oprogramowania "Kupno systemu" działa na Waszym serwerze.
          | Po przeprowadzeniu migracji wszystkich danych, wygląda dokładnie tak samo
    +e.item.z-depth-1
      +e.first
        +e.H3.name Indywidualne
        +e.cost
          +e.SPAN.cost-num -
        +e.for
          | Stwórz sam swój plan taryfowy!
      +e.second
        +e.about
          | Opisz swoje oczekiwania a wspólnie znajdziemy rozwiązanie
        +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger SKONTAKUJ SIĘ Z NAMI

  +e.H5.aftertext Zawsze można kupić program ze wszystkimi wniesionymi danymi wraz z bezpłatną migracją ma Wasz serwer
