+b.block-11#block-11: .l-wrapper
  +e.H2.title Payment opportunities
  +e.UL.list
    +e.item.z-depth-1
      +e.first
        +e.H3.name Agent
        +e.cost
          +e.SPAN.cost-num 10-50
          +e.SPAN.cost-unit &nbsp;$/month
        +e.for
          | Tariff for distributors
          br
          | with agent network
      +e.second
        +e.about Monthly payment for each agent, registered in system
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of back-office licenses – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of agents – not limited, not less than 50
    +e.item.z-depth-1
      +e.first
        +e.H3.name Dealer
        +e.cost
          +e.SPAN.cost-num 50-200
          +e.SPAN.cost-unit &nbsp;$/month
        +e.for
          | Tariff for manufacturers
      +e.second
        +e.about Monthly payment for each dealer, registered in system
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of back-office licenses – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of dealers – not limited, not less than 15
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of dealer’s users – not limited
    +e.item.z-depth-1
      +e.first
        +e.H3.name Company
        +e.cost
          +e.SPAN.cost-num 500-5000
          +e.SPAN.cost-unit &nbsp;$/month
        +e.for
          | Tariff for every company type
      +e.second
        +e.about Monthly payment for system as service
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of back-office licenses – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of dealers – not limited
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Number of dealer’s users – not limited
    +e.item.z-depth-1
      +e.first
        +e.H3.name Provision
        +e.cost
          +e.SPAN.cost-num 1
          +e.SPAN.cost-unit %
        +e.for
          | % from all orders in the system,
          | not less than 1000 $/month
      +e.second
        +e.about
          | Set INDIVIDUALLY with every manufacturer when signing the CONTRACT
    +e.item.z-depth-1
      +e.first
        +e.H3.name Property
        +e.cost
          +e.SPAN.cost-num 20000-150000
          +e.SPAN.cost-unit &nbsp;$
        +e.for
          | All data is saved!
      +e.second
        +e.about
          | System is installed at your server
    +e.item.z-depth-1
      +e.first
        +e.H3.name Individual
        +e.cost
          +e.SPAN.cost-num -
        +e.for
          | Create your tariff individually!
      +e.second
        +e.about
          | Describe your expectations and we’ll negotiate
        +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger CONTACT US

  +e.H5.aftertext At any moment you could buy the system with your data and free installation it at your server
