+b.block-11#block-11: .l-wrapper
  +e.H2.title Тарифные планы
  +e.UL.list
    +e.item.z-depth-1
      +e.first
        +e.H3.name Агент
        +e.cost
          +e.SPAN.cost-num 10-50
          +e.SPAN.cost-unit &nbsp;$/мес.
        +e.for
          | Тариф для дистрибьюторов
          br
          | с агентской сетью
      +e.second
        +e.about Абонентская плата за каждого агента, зарегистрированного в системе
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество  рабочих мест продавца – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество агентов – не ограничено, но не менее 50
    +e.item.z-depth-1
      +e.first
        +e.H3.name Дилер
        +e.cost
          +e.SPAN.cost-num 50-200
          +e.SPAN.cost-unit &nbsp;$/мес.
        +e.for
          | Тариф для производителей
      +e.second
        +e.about Абонентская плата за каждого дилера, зарегистрированного в системе
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество  рабочих мест производителя – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество дилеров – не ограничено, но не менее 15
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество рабочих мест дилера - не ограничено
    +e.item.z-depth-1
      +e.first
        +e.H3.name Компания
        +e.cost
          +e.SPAN.cost-num 500-5000
          +e.SPAN.cost-unit &nbsp;$/мес.
        +e.for
          | Тариф для любого типа компаний
      +e.second
        +e.about Абонентская плата за пользование системой
        +e.UL.pluses
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество  рабочих мест производителя – 10
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество дилеров – не ограничено
          +e.plus
            +e.SVG.plus-icon
              use(xlink:href='#svg-circle-check')
            +e.plus-text Количество рабочих мест дилера – не ограничено
    +e.item.z-depth-1
      +e.first
        +e.H3.name Процент
        +e.cost
          +e.SPAN.cost-num 1
          +e.SPAN.cost-unit %
        +e.for
          | % от суммы проведенных в системе заказов,
          | но не менее 1000 $/мес.
      +e.second
        +e.about
          | Определяется ИНДИВИДУАЛЬНО с каждым производителем
          | при заключении ДОГОВОРА
    +e.item.z-depth-1
      +e.first
        +e.H3.name Коробка
        +e.cost
          +e.SPAN.cost-num 20000-150000
          +e.SPAN.cost-unit &nbsp;$
        +e.for
          | Все данные при переносе сохраняются!
      +e.second
        +e.about
          | Версия программного обеспечения "в коробке" работает на вашем собственном сервере.
          | После переноса визуально все будет выглядеть точно так же
    +e.item.z-depth-1
      +e.first
        +e.H3.name Индивидуальный
        +e.cost
          +e.SPAN.cost-num -
        +e.for
          | Создай сам свой тарифный план!
      +e.second
        +e.about
          | Опишите свои пожелания к  оплате и мы договоримся
        +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger Связаться с нами

  +e.H5.aftertext Вы всегда можете купить программу со всеми внесёнными данными с бесплатным переносом на ваш сервер
