+b.block-3#block-3: .l-wrapper
  +e.H2.title Jak to zrobić?
  +e.H3.subtitle Poprzez nowoczesny zestaw narzędzi!
  +e.UL.list
    +e.item_pl
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.item-text Tworzenie portalu dilerskiego i obsługę aplikacji mobilnej dla klientów końcowych
    +e.item-arrow
      +e.SVG.item-icon-arrow_pl
        use(xlink:href='#svg-arrow-right')
    +e.item_pl
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.item-text Analiza rynku, długa lista potencjalnych dilerów, oceny atrakcyjności
    +e.item-arrow
      +e.SVG.item-icon-arrow_pl
        use(xlink:href='#svg-arrow-right')
    +e.item_pl
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.item-text Podłączenie potencjalnych dealerów do systemu, łatwość pracy z Twoja firmą
    +e.item-arrow
      +e.SVG.item-icon-arrow_pl
        use(xlink:href='#svg-arrow-right')
    +e.item_pl
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.item-text Wybór spośród przyjętych. Pełne połączenie z systemem, szkolenia - start pracy!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger SONTAKTUJ SIĘ Z NAMI
