+b.block-3#block-3: .l-wrapper
  +e.H2.title How to do it?
  +e.H3.subtitle Using modern tools!
  +e.UL.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.item-text Implementing Dealer’s portal and mobile application for end user support
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.item-text Market research – long-list of potential dealers with attractiveness rate
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.item-text Connection potential dealers to the system, demonstration of convenient co-operation with Your Company
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.item-text Choosing from dealers who want to co-operate. Launching system, training – successful co-operation!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger CONTACT US!
