+b.block-3#block-3: .l-wrapper
  +e.H2.title Wie es zu tun?
  +e.H3.subtitle Durch einen modernen Satz von Werkzeugen!
  +e.UL.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.item-text Die Erstellung des Portals Dilerskiego und Unterstützung für mobile Anwendung für Endkunden
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.item-text Analyse des Marktes, eine lange Liste von möglichen Händlern, die Beurteilung der Attraktivität
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.item-text Verbindung der potenziellen Händler auf das System, die einfache Arbeit mit Ihrem Unternehmen
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.item-text Wahl aus. Eine Kombination des Laufens, Training-Start-Arbeit!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger KONTAKTIEREN SIE UNS
