+b.block-3#block-3: .l-wrapper
  +e.H2.title Как это можно сделать?
  +e.H3.subtitle Через современный инструментарий!
  +e.UL.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.item-text Cоздание дилерского портала и мобильного приложения поддержки конечных клиентов
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.item-text Анализ рынка – лонг – лист потенциальных дилеров с рейтингами привлекательности
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.item-text Подключение потенциальных дилеров к системе, демонстрация возможностей удобства работы с Вами
    +e.item-arrow
      +e.SVG.item-icon-arrow
        use(xlink:href='#svg-arrow-right')
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.item-text Отбор из числа согласившихся. Полноценное подключение к системе, обучение – старт работы!
  +e(href='#modal-contacts').button.btn-large.waves-effect.waves-light.modal-trigger Связаться с нами
