+b.UL.side-nav#slide-out
  +e.LI
    .userView
      +e.bg.background
      +e.SVG.logo
        use(xlink:href='#svg-logo-h')
  +e.LI
    +e(href='#block-1-1').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-target3')
      +e.name Dla kogo przeznaczone są nasze usługi?
  +e.LI
    +e(href='#block-2').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-hands')
      +e.name Razem możemy?
  +e.LI
    +e(href='#block-3').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-hammer')
      +e.name Ja to zrobić?
  +e.LI
    +e(href='#block-4').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-star-2')
      +e.name Jakie są zalety takiego podejścia?
  +e.LI
    +e(href='#block-5').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-dollar')
      +e.name Co otrzymuje Diler?
  +e.LI
    +e(href='#block-6').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-line-chart')
      +e.name Jak zwiększyć wpływ na pracę sieci dilerów?
  +e.LI
    +e(href='#block-7').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-profile2')
      +e.name Jak zmieni się praca działu sprzedaży?
  +e.LI
    +e(href='#block-8').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-money-bag')
      +e.name Co otrzymuje Producent/Dystrybutor?
  +e.LI
    +e(href='#block-9').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-wallet2')
      +e.name Co otrzymuje Klient końcowy?
  +e.LI
    +e(href='#block-10').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-credit')
      +e.name Ile kosztuje system?
  +e.LI
    +e(href='#block-11').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-credit-card2')
      +e.name Opcje płatności
  +e.LI
    +e(href='#block-12').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-lock')
      +e.name System zabezpieczeń
  +e.LI
    +e(href='#block-13').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-conf')
      +e.name Prywatność
  +e.LI
    +e(href='#block-14').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-presentation')
      +e.name Prezentacje
  +e.LI
    .divider
  +e.LI
    +e(href='#modal-contacts').button.btn.waves-effect.waves-light.side-nav-hide.modal-trigger SKONTAKUJ SIĘ Z NAMI
