+b.UL.side-nav#slide-out
  +e.LI
    .userView
      +e.bg.background
      +e.SVG.logo
        use(xlink:href='#svg-logo-h')
  +e.LI
    +e(href='#block-1-1').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-target3')
      +e.name For whom is this service?
  +e.LI
    +e(href='#block-2').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-hands')
      +e.name What can we do together?
  +e.LI
    +e(href='#block-3').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-hammer')
      +e.name How to do it?
  +e.LI
    +e(href='#block-4').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-star-2')
      +e.name What are the pros?
  +e.LI
    +e(href='#block-5').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-euro-1')
      +e.name What does dealer get?
  +e.LI
    +e(href='#block-6').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-line-chart')
      +e.name How would efficiency increase?
  +e.LI
    +e(href='#block-7').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-profile2')
      +e.name What would be changed?
  +e.LI
    +e(href='#block-8').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-plus')
      +e.name What does manufacturer/distributor get?
  +e.LI
    +e(href='#block-9').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-wallet2')
      +e.name What does end user get?
  +e.LI
    +e(href='#block-10').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-euro-3')
      +e.name What is the price?
  +e.LI
    +e(href='#block-11').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-credit-card2')
      +e.name Opportunities of payment
  +e.LI
    +e(href='#block-12').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-lock')
      +e.name System security
  +e.LI
    +e(href='#block-13').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-conf')
      +e.name Confidentiality
  +e.LI
    +e(href='#block-14').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-presentation')
      +e.name Presentation
  +e.LI
    .divider
  +e.LI
    +e(href='#modal-contacts').button.btn.waves-effect.waves-light.side-nav-hide.modal-trigger CONTACT US
