+b.UL.side-nav#slide-out
  +e.LI
    .userView
      +e.bg.background
      +e.SVG.logo
        use(xlink:href='#svg-logo-h')
  +e.LI
    +e(href='#block-1-1').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-target3')
      +e.name Для кого наши услуги?
  +e.LI
    +e(href='#block-2').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-hands')
      +e.name Что мы сделаем вместе?
  +e.LI
    +e(href='#block-3').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-hammer')
      +e.name Как мы это сделаем?
  +e.LI
    +e(href='#block-4').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-star-2')
      +e.name В чём преимущества?
  +e.LI
    +e(href='#block-5').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-dollar')
      +e.name Что получит дилер?
  +e.LI
    +e(href='#block-6').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-line-chart')
      +e.name Как повысится отдача?
  +e.LI
    +e(href='#block-7').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-profile2')
      +e.name Как изменится работа?
  +e.LI
    +e(href='#block-8').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-money-bag')
      +e.name Что получит производитель/дистрибьютор?
  +e.LI
    +e(href='#block-9').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-wallet2')
      +e.name Что получит потребитель?
  +e.LI
    +e(href='#block-10').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-credit')
      +e.name Сколько стоит система?
  +e.LI
    +e(href='#block-11').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-credit-card2')
      +e.name Тарифные планы
  +e.LI
    +e(href='#block-12').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-lock')
      +e.name Безопасность системы
  +e.LI
    +e(href='#block-13').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-conf')
      +e.name Конфиденциальность
  +e.LI
    +e(href='#block-14').link.waves-effect.page-scroll
      +e.SVG.icon
        use(xlink:href='#svg-presentation')
      +e.name Видеопрезентации
  +e.LI
    .divider
  +e.LI
    +e(href='#modal-contacts').button.btn.waves-effect.waves-light.side-nav-hide.modal-trigger Связаться с нами
