+b.block-10#block-10: .l-wrapper
  +e.H2.title Wie viel kostet das System?
  table.striped
    thead
      tr
        th
        th.center Unsere Kosten
        th.center Ihre Kosten
    tbody
      tr
        td Die Basis-Version des Programms
        td.center 10000 $
        +e.TD.invest(rowspan='8').center
          | 0
          small $
      tr
        td Hosting
        td.center 50 $/monatlich
      tr
        td Software-Lizenzen
        td.center 2 000 $
      tr
        td Katalogisierung Produkte
        td.center ab 3 000 $
      tr
        td Marketing-services
        td.center ab 300 $/monatlich
      tr
        td Training, Beratung, Unterst체tzung
        td.center ab 200 $/monatlich
      tr
        td Verwalten des Servers
        td.center 200 $/monatlich
      tr
        td Eine individuelle Anpassung des Systems
        td.center 15000 $
  +e.H3.aftertext Wir sind 체berzeugt von der N체tzlichkeit und Rentabilit채t unserer Software!
