+b.block-10#block-10: .l-wrapper
  +e.H2.title Ile kosztuje system?
  table.striped
    thead
      tr
        th
        th.center Nasze koszty
        th.center Twoje koszty
    tbody
      tr
        td Bazowa wersja programu
        td.center 10000 $
        +e.TD.invest(rowspan='8').center
          | 0
          small $
      tr
        td Hosting
        td.center 50 $/mies.
      tr
        td Licencje na oprogramowanie
        td.center 2 000 $
      tr
        td Katalogizacja produktów
        td.center od 3 000 $
      tr
        td Usługi marketingowe
        td.center od 300 $/mies.
      tr
        td Szkolenia, doradztwo, wsparcie
        td.center od 200 $/mies.
      tr
        td Administrowanie serwisu
        td.center 200 $/mies.
      tr
        td Indywidualne dopasowanie systemu
        td.center 15000 $
  +e.H3.aftertext Jesteśmy przekonani o użyteczności i rentowności naszego oprogramowania!
