+b.block-10#block-10: .l-wrapper
  +e.H2.title What is the price?
  table.striped
    thead
      tr
        th
        th.center Our investments
        th.center Your investments
    tbody
      tr
        td Basic system version
        td.center 10000 $
        +e.TD.invest(rowspan='8').center
          | 0
          small $
      tr
        td Hosting
        td.center 50 $/month
      tr
        td Software licences
        td.center 2 000 $
      tr
        td Cataloging
        td.center from 3 000 $
      tr
        td Marketing research
        td.center from 300 $/month
      tr
        td Training, consulting, support
        td.center from 200 $/month
      tr
        td Service administration
        td.center 200 $/month
      tr
        td Programming of individual configuration
        td.center 15000 $
  +e.H3.aftertext We’re confident that our system would be useful and profitable for Your company!
