+b.block-10#block-10: .l-wrapper
  +e.H2.title Сколько стоит система?
  table.striped
    thead
      tr
        th
        th.center Наши инвестиции
        th.center Ваши инвестиции
    tbody
      tr
        td Базовая версия программы
        td.center 10000 $
        +e.TD.invest(rowspan='8').center
          | 0
          small $
      tr
        td Хостинг
        td.center 50 $/мес.
      tr
        td Лицензии на дополнительное ПО
        td.center 2 000 $
      tr
        td Каталогизация товаров
        td.center от 3 000 $
      tr
        td Маркетинговые услуги
        td.center от 300 $/мес.
      tr
        td Обучение, консультации, поддержка
        td.center от 200 $/мес.
      tr
        td Администрирование сервера
        td.center 200 $/мес.
      tr
        td Индивидуальная настройка и доработка
        td.center 15000 $
  +e.H3.aftertext Мы уверены в полезности и прибыльности для Вас нашего программного продукта!
