.block-12 {
  @include padding(30px null);
  text-align: center;

  &__list {
    @include container;
    @include margin(30px null 20px);
  }

  &__item {
    @include span(2 of 10);
    @include position(relative);

    &:last-child {
      @include last;
    }
  }

  &__item-icon {
    @include size(70px);
    fill: $c-theme-2;
  }

  &__item-title {
    @include padding(10px null);
    @include size(213px 80px);
    display: table-cell;
    vertical-align: middle;
  }

  &__item-text {
    // @include size(null 286px);
  }
}
