+b.block-12#block-12: .l-wrapper
  +e.H2.title Безопасность системы
  +e.UL.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.H4.item-title Отдельная база данных
      +e.item-text
        | Хранит данные так, чтобы к ним невозможно было получить
        | доступ из соседних аккаунтов. Данные разных компаний разделены
        | на уровне баз данных и облачного хранилища
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.H4.item-title Резервное копирование
      +e.item-text
        | Ежедневно выполняется резервное копирование на нескольких
        | уровнях с различными сценариями восстановления.
        | Система распределяет данные на несколько жестких дисков.
        | При отказе одного данные не теряются
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.H4.item-title Доступ по паролю
      +e.item-text
        | Защищает доступ клиента к программному обеспечению,
        | но не дает доступ к базе.
        | У каждого сотрудника свои права доступа
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.H4.item-title HTTPS шифрование
      +e.item-text
        | Для передачи по Сети всех пользовательских данных
        | используется SSL-шифрование с длиной ключа 256 бит
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-five')
      +e.H4.item-title Географическое распределение серверов
      +e.item-text
        | Позволяет балансировать нагрузку, улучшать скорость соединения
        | клиентов, быстро перебрасывать аккаунты с поврежденных
        | серверов на новые
