+b.block-12#block-12: .l-wrapper
  +e.H2.title Das Sicherheitssystem
  +e.UL.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.H4.item-title Separate Datenbank
      +e.item-text
        | Speichert die Daten, die nicht von den benachbarten Konten verfügbar sind. Daten aus einer Vielzahl von Unternehmen gliedern sich in die Datenbankebene und Speicher in der cloud. Daten aus einer Vielzahl von Unternehmen sind isoliert, so dass auch versehentlichen Zugriff ausgeschlossen
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.H4.item-title Sicherungskopie
      +e.item-text
        | Tägliches Backup auf mehreren Ebenen, wiederherstellen nach verschiedenen Szenarien. Das System verteilt Daten auf mehrere Datenträger. Mit das Scheitern der Daten ist nicht verloren
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.H4.item-title Zugang mit einem Passwort
      +e.item-text
        | Schützt den Zugriff auf die Software, aber haben keinen Zugriff auf die Datenbank Jeder Mitarbeiter ist individuell Zugriffsrechte definiert
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.H4.item-title HTTPS-Verschlüsselung
      +e.item-text
        | Für die Datenübertragung mit SSL-Verschlüsselung mit einer Schlüssellänge von 256 Bit
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-five')
      +e.H4.item-title Geografische Verteilung der Server
      +e.item-text
        | Bietet Load balancing, erhöht die Geschwindigkeit der Verbindung, können Sie schnell übertragen, Konten von Server zu Server
