+b.block-12#block-12: .l-wrapper
  +e.H2.title System zabezpieczeń
  +e.UL.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.H4.item-title Oddzielne bazy danych
      +e.item-text
        | Przechowuje dane, które nie są dostępne z sąsiednich kont.
        | Dane z różnych firm są podzielone na poziomie bazy danych i
        | pamięci masowej w chmurze
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.H4.item-title Kopia zapasowa
      +e.item-text
        | Codzienny backup na kilku poziomach, przywracanie według
        | różnych scenariuszy. System dystrybuuje dane na wielu dyskach.
        | Przy awarii jednego dane nie są tracone
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.H4.item-title Dostęp za pomocą hasła
      +e.item-text
        | Chroni dostęp to oprogramowania ale nie daje dostępu do bazy danych. Każdy pracownik ma indywidualnie definiowane prawa dostępu do bazy
        | danych. Każdy pracownik ma indywidualnie definiowane prawa dostępu
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.H4.item-title Szyfrowane HTTPS
      +e.item-text
        | Dla transmisji danych użytkownika za pomocą protokołu SSL
        | szyfrowanie z kluczem o długości 256 bitów
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-five')
      +e.H4.item-title Geograficzne rozmieszczenie serwerów
      +e.item-text
        | Umożliwia równoważenie obciążenia, zwiększa szybkość połączenia, umożliwia szybkie przeniesienie kont z serwera na serwer
