+b.block-12#block-12: .l-wrapper
  +e.H2.title System secuirity
  +e.UL.list
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-one')
      +e.H4.item-title Individual database
      +e.item-text
        | Data is saved in the way to avoid access from "neighbor"
        | accounts. Data of each company is saved at different level
        | of cloud storage
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-two')
      +e.H4.item-title Reserve copying
      +e.item-text
        | Daily reserve copying is provided at several levels
        | with different scenarios of restoration.
        | System saves data to several hard discs, so in case of error
        | data isn’t lost
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-three')
      +e.H4.item-title Password access
      +e.item-text
        | Gives every user limited and safe access to the system,
        | according to his position
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-four')
      +e.H4.item-title HTTPS code
      +e.item-text
        | Data transfer uses SSL-code with 256-bit key
    +e.item
      +e.SVG.item-icon
        use(xlink:href='#svg-five')
      +e.H4.item-title Geographical safety
      +e.item-text
        | Servers situated in different countries help to balance load
        | of system, provide better connection speed, restore
        | system at new server
