+b.block-4#block-4: .l-wrapper
  +e.H2.title What are pros of such strategy?
  +e.H3.subtitle There are two types of dealers:
  +e.wrapper
    +e.small
      +e.H4.text Dealers, looking for YOU
      +e.img-wrapper
        +e(src='img/block-4/small.png')
      +e.subtext New, young companies
    +e.middle
      +e.SVG.middle-icon
        use(xlink:href='#svg-arrows-horizontal')
    +e.big
      +e.H4.text Dealers YOU’re looking for
      +e.img-wrapper
        +e(src='img/block-4/big.png')
      +e.subtext Multibrand  companies, that are not interested in new partners
  +e.H3.aftertext
    | Our tools allow starting co-operation with both of these types.
    br
    | You could become the most convenient supplier with advanced level of support!
