+b.block-4#block-4: .l-wrapper
  +e.H2.title Jakie są zalety takiego podejścia?
  +e.H3.subtitle Dilerzy są podzieleni na dwie kategorie:
  +e.wrapper
    +e.small
      +e.H4.text Ci, którym Wy jesteście potrzebni
      +e.img-wrapper
        +e(src='img/block-4/small.png')
      +e.subtext Nowe i rozwijające się firmy
    +e.middle
      +e.SVG.middle-icon
        use(xlink:href='#svg-arrows-horizontal')
    +e.big
      +e.H4.text Ci, którzy są Wam potrzebni
      +e.img-wrapper
        +e(src='img/block-4/big.png')
      +e.subtext Firmy mające w ofercie wiele marek, które nie są zainteresowane nowymi partnerami
  +e.H3.aftertext
    | Nasze narzędzie pozwala na budowanie współpracy z każdym dilerem.
    br
    | Możesz stać się bardzo wygodnym dostawcą z wysokim poziomem wsparcia!
