+b.block-4#block-4: .l-wrapper
  +e.H2.title Was sind die Vorteile eines solchen Ansatzes?
  +e.H3.subtitle Händler sind in zwei Kategorien unterteilt:
  +e.wrapper
    +e.small
      +e.H4.text Diejenigen, die Sie benötigt werden
      +e.img-wrapper
        +e(src='img/block-4/small.png')
      +e.subtext Neuen und wachsenden Unternehmen
    +e.middle
      +e.SVG.middle-icon
        use(xlink:href='#svg-arrows-horizontal')
    +e.big
      +e.H4.text Wer Sie benötigt werden
      +e.img-wrapper
        +e(src='img/block-4/big.png')
      +e.subtext Unternehmen, die eine Vielzahl von Marken anbieten, die nicht an neuen Partnern interessiert sind
  +e.H3.aftertext
    | Unser Tool ermöglicht es Ihnen, die Zusammenarbeit mit jeder Händler bauen.
    br
    | Sie können einen Anbieter mit einem hohen Maß an Unterstützung werden!
