+b.block-4#block-4: .l-wrapper
  +e.H2.title В чем преимущества такого подхода?
  +e.H3.subtitle Дилеры делятся на две категории:
  +e.wrapper
    +e.small
      +e.H4.text Которым нужны ВЫ
      +e.img-wrapper
        +e(src='img/block-4/small.png')
      +e.subtext Новые, развивающиеся компании
    +e.middle
      +e.SVG.middle-icon
        use(xlink:href='#svg-arrows-horizontal')
    +e.big
      +e.H4.text Которые нужны ВАМ
      +e.img-wrapper
        +e(src='img/block-4/big.png')
      +e.subtext Мультибрендовые компании, которые не заинтересованы в новых партнерах
  +e.H3.aftertext
    | Наш инструментарий позволяет построить сотрудничество с любыми дилерами.
    br
    | Вы можете стать для них самым удобным поставщиком с серьезным уровнем поддержки!
